:root {
    --color-blue-soft: #daedfe;

    --color-neutral4: #eceef0;
    --color-neutral9: #889096;
    --color-neutral8: #c1c8cd;

    --vp-c-brand-1: #ce6e6e;
    --vp-c-brand-2: #ce7e7e;
    --vp-c-brand-3: #ce8e8e;
    --vp-c-brand-transparent: #ce6e6e20;

    --vp-sidebar-width: 320px !important;
    --vp-sidebar-width-collapse: 300px !important;
}

* {
    scrollbar-width: thin;
}

.dark {
    --color-neutral4: #26292b;
    --color-neutral8: #4c5155;
    --color-neutral9: #697177;

    --vp-c-brand-1: #ce6e6e !important;
    --vp-c-brand-2: #ce5e5e;
    --vp-c-brand-3: #ce4e4e;
    //--vp-c-divider: var(--color-neutral8) !important;
}

/* a:hover {
    filter: blur(1px) !important;
    opacity: 0.8 !important;
} */

html {
    scroll-behavior: smooth;
}

.VPFooter {
    z-index: -1 !important;
}

/* 修改滚动条的颜色 */
.VPLocalNavOutlineDropdown .items,
.VPSidebar{
    scrollbar-width: thin;

    .curtain {
        background-color: transparent;
    }
}

.VPLocalNavOutlineDropdown .items {
    /* display: flex; */
    background-color: var(--vp-c-bg-soft);

    scrollbar-width: thin;
}

.VPNav {
    // .divider {
    //     display: none;
    // }

    .container {
        background-color: transparent;

        .content {
            background-color: transparent;

            .content-body {
                background-color: transparent !important;
            }
        }
    }
}

.VPLocalNav,
.VPNavBar.has-sidebar .wrapper {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(251,251,253,.7) !important;
}

.VPNavBar {
    .divider .divider-line {
        height: 0;
        border-bottom: 1px solid var(--vp-c-divider);
    }

    &.home {
        .divider .divider-line {
            height: 0;
            border-bottom: 0 solid var(--vp-c-divider);
        }
    }
} 

.dark {
    .VPLocalNav,
    .VPNavBar.has-sidebar .wrapper {
        background: rgba(27, 27, 31, 0.6) !important;
    }
}

.VPNavBar .container .content .curtain::before {
    display: none;
}

.VPPluginSearch-search-item:hover {
    background-color: var(--vp-custom-block-tip-bg);
    color: var(--vp-custom-block-details-text);
}

.icon {
    width: 25px;
    height: 25px;
}

// 侧边目录
#VPSidebarNav {
    .group {
        border-top: none !important;
        padding: 5px 20px !important;
        border-radius: 10px;

        transition: all .2s ease-in-out;
        margin-top: 5px;

        &:hover {
            background-color: var(--color-neutral4);
        }

        &:has(.is-active) {
            background-color: var(--color-neutral4);
        }
    }
}

// 侧边目录 Item
.VPSidebarItem {
    --gap: 3px;

    h2.text,
    h3.text,
    h4.text,
    h5.text,
    p.text {
        display: flex;
        gap: var(--gap);
        align-items: center;

        svg {
            width: 25px;
            height: 25px;
        }
    }

    &.level-0 {
        padding-bottom: 0 !important;
    }

    &.level-1 {
        .text {
            margin-left: 8px;

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }

    &.level-2 {
        .text {
            gap: var(--gap);
            margin-left: 14px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.prev-next .pager-link {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span.title {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &.next {
        align-items: flex-end;
    }
}

/*front*/
@font-face {
    font-family: JetBrainsMono;
    src: url("/assets/font/JetBrainsMono-Medium.woff2")
}

code {
    font-family: "JetBrainsMono", sans-serif;
}

.go-to-top {
    background-color: var(--color-neutral4) !important;
    &:hover {
        background-color: var(--color-neutral8) !important;
    }
}

.name .clip,
.discoloration {
    background: -webkit-linear-gradient(
        315deg,
        rgb(210, 86, 53) 10%,
        #647eff 50%,
        rgb(238, 224, 112) 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    }

    @keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.DocSearch-Modal {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

// 公式区
.katex-display {
    /* 设置溢出行为为自动添加滚动条 */
    overflow: auto;
}

// 正文
.content {
    h4, h5, h6 {
        margin-top: 10px;
    }
}

// 导航栏
.outline-link {
    
    &.active {
        color: var(--vp-c-brand-1) !important;
    }
}